<!--http://plnkr.co/edit/tgpyZq3JD1hwxtwCwWv8?p=preview-->
<div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="ToggleSidebar()">
            {{"A001" | translate}}
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>

        <uib-tabset class="tab-animation" active="active">
          <uib-tab index="0" template-url="modules/directives/tab.html">
            <div ng-include="'modules/home/sidebartable.html'"></div>
          </uib-tab>
          <uib-tab index="1" template-url="modules/directives/tab.html">
            <div ng-include="'modules/filemanager/sidebartree.html'"></div>
          </uib-tab>
        </uib-tabset>
        <!--<div class="anim-in-out anim-fade" data-anim-sync="false" data-anim-speed="400" ui-view="sidebar" ></div>-->

      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-4">
          <a style="cursor:pointer;" ng-click="active = 0">
            List
          </a>
        </div>
        <div class="col-xs-4">
          <a style="cursor:pointer;" ng-click="active = 1">
            Tree
          </a>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->
        <div class="row header">
          <div class="col-xs-12">
            <div class="user pull-right">
            </div>
            <div class="meta">
              <div class="page">
                {{linkPage.linkTitle | translate}}
              </div>
              <div class="breadcrumb-links">
                {{linkPage.linkUrl}}
              </div>
            </div>
          </div>
        </div>
        <!-- End Header Bar -->

        <!-- Main Content -->
        <div class="anim-in-out anim-fade" data-anim-sync="false" data-anim-speed="400" ui-view ></div>

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->
