<div class="errpage">
    <div class="bg"></div>
    <div class="container">
        <div class="info">
            <img src="assets/img/fof.png" alt="404">
        </div>
        <div class="operation">
            <div class="up">
                <span class="goback"></span>
                <span class="gobacktext" ng-click="goback()">{{'A006' | translate}}</span>
                <span class="index"></span>
                <span class="indextext" ng-click="goToIndexPage()">{{'A000' | translate}}</span>
            </div>
            <div class="down">
                <span class="tips">{{'A005' | translate}}</span>
            </div>
        </div>
    </div>
</div>
