
.navbar {
  min-height: 32px;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  color: #fff;
}
.file-tree {
  position: absolute;
}

.navbar .navbar-collapse {
  overflow: visible;
  padding: 0;
}

.navbar .navbar-toggle {
  padding: 5px 10px;
}

.navbar .navbar-brand {
  font-size: inherit;
  height: 55px;
  line-height: 100%;
}

.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}


.nav-sidebar > li > a {
  color: #7a7a7a;
  padding: 7px 0 7px 16px;
}


.nav-sidebar> li > a:hover, 
.nav-sidebar> li > a:focus {
  background: none;
  color: #1378b9;
}

.nav-sidebar > li.active > a {
  color: #2196F3;
}

.file-tree ul.nav.nav-sidebar {
  margin: 0;
  padding: 0;
  padding-left: 12px;
}

.file-tree ul.nav.nav-sidebar:first-child {
  padding-left: 0;
}

.file-tree ul.nav.nav-sidebar.file-tree-root > li {
  border-left: none;
  padding-left: 0px;
}

.table td {
  vertical-align: middle;
}

.mr2 {
  margin-right: 2px;
}

.mr5 {
  margin-right: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mb0 {
  margin-bottom: 0;
}

.pointer {
  cursor: pointer;
}

.block {
  display: block;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bold {
  font-weight: bold;
}

.main {
  overflow-y: auto;
}

.point {
  margin-right: 8px;
  font-size: 10px;
}

.navbar .btn.btn-flat {
  padding: 2px;
  width: 32px;
  height: 30px;
  margin-left: 5px;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background: #fff;
}

.navbar-inverse .navbar-form input[type="text"] {
  color: #7a7a7a;
  box-shadow: none;
  margin: 0 10px;
}

.navbar .navbar-form {
  border-bottom: none;
  border-top: none;
  box-shadow: none;
  padding: 0;
  margin: 12px 0;
}